<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
    <h2>Super Synergy</h2>
    <% allPosts.forEach(element => { %>
    <% if (element.type === 'request') { %>
    <h3><%= moment(element.createdAt).format('DD.MM.YYYY HH:mm') %> </h3>
    <h1><%= element.author %> </h1>
    <img src=<%= element.author_url %> alt="">
    <p style="white-space: pre-line"><%= element.request %> </p>
    <% element.comments.forEach(elt => { %>
    <h3><%= elt.author %> hat geantwortet:</h3>
    <p><%= elt.comment %> </p>
    <% }) %>
    <form action="/newFeedComment/<%= element._id %>" method="POST">
        <input type="text" name="author" id="author" placeholder="author">
        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="write a comment"></textarea>
        <input type="submit" value="submit">
    </form>
    <% } else if (element.type === 'profile') {%>
    <h2><%= element.firstName %> <%= element.lastName %> hat sich angemeldet!</h2>
    <img src=<%= element.picture %> alt="">
    <p><%= element.intro %> </p>
    <% } else if (element.type === "project") { %>
    <h2><%= element.author %> hat ein neues Projekt geteilt!</h2>
    <img src=<%= element.author_url %> alt="">
    <img src=<%= element.project_img %> alt="">
    <a href=<%= element.project_url %>>Projekt link!</a>
    <a href=<%= element.github_url %>>Git link!</a>
    <p><%= element.request %> </p>
    <% }}) %>
</body>

</html>