<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <main id="addProjects">
        <section>
            <a href="" id="toggle-btn">Add your Project</a>
        </section>
        <hr class="line">
        <section id="projectForm">
            <form action="/addProject" method="POST" class="forms">
                <input type="text" name="title" id="title" placeholder="title">
                <input type="text" name="author" id="author" placeholder="author">
                <input type="text" name="author_url" id="author_url" placeholder="author_url">
                <input type="text" name="project_img" id="project_img" placeholder="project_img">
                <input type="text" name="project_url" id="project_url" placeholder="project_url">
                <input type="text" name="github_url" id="github_url" placeholder="github_url">
                <textarea name="request" id="request" cols="30" rows="10" placeholder="desciption"></textarea>
                <input type="submit" value="submit">
            </form>
            <hr class="line">
        </section>
        <section id="projects">
            <% projects.forEach(element => { %>
            <a href=<%= element.project_url%>><img src=<%= element.project_img %> alt=""></a>
            <article>
                <div id="projectTitel">
                    <h1><%= element.title %></h1>
                    <h6><%= element.timestamps %> </h6>
                </div>
                <p><%= element.request %> </p>
                <div id="project">
                    <div>
                        <img src="<%= element.author_url %> " alt="">
                        <h4><%= element.author %> </h4>
                    </div>
                    <div>
                        <a href="<%= element.project_url %> ">Website</a>
                        <a href="<%= element.github_url %> ">Github</a>
                    </div>
                </div>
            </article>
            <% }) %>
        </section>
    </main>
    <script>
        const showForm = document.getElementById("showForm")
        const toggleBtn = document.getElementById("toggle-btn")
        toggleBtn.addEventListener("click", (e) => {
            e.preventDefault()
            projectForm.classList.toggle('hide')
        })
    </script>
</body>

</html>